.single {
  display: flex;

  width: 100%;

  .single-container {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px;
        position: relative;

        .edit-btn {
          position: absolute;
          top: 0;
          right: 0;
          color: blueviolet;
          background-color: rgba(137, 43, 226, 0.178);
          border: none;
          padding: 5px 10px;
          border-radius: 0 0 0 5px;
          cursor: pointer;
        }

        .item {
          display: flex;
          gap: 20px;

          .item-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .details-title {
              color: gray;
              margin-bottom: 10px;
            }

            .details-item {
              margin-bottom: 10px;
              font-size: 14px;

              .item-key {
                font-weight: bold;
                color: rgba(128, 128, 128, 0.521);
                margin-right: 5px;
              }
              .item-value {
                font-weight: 300;
              }
            }
          }
        }
      }
      .right {
        flex: 2;
      }
    }

    .bottom {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 20px;
      margin: 10px 20px;
    }

    .title {
      margin-bottom: 20px;
      color: lightgray;
      font-size: 20px;
    }
  }
}
